<div class="container">
    <div class="sectionOne">
        <img src="../../../favicon.ico" alt="angular">
        <a href="https://angular.io/"><button class="btn angular">Angular</button></a>
        <a href="https://www.typescriptlang.org/"><button class="btn typescript">Typescript</button></a>
        <a href="https://www.dio.me/"><button class="btn dio">DIO</button></a>
    </div>
    <div class="sectionOne">
        <a href="https://github.com/KaueRonald"><button class="btn github">GitHub</button></a>
        <a href="https://www.instagram.com/kaueronald_/"><button class="btn instagram">Instagram</button></a>
        <a href="https://www.linkedin.com/in/kau%C3%AA-ronald-981a8a216/"><button class="btn linkedin">Linkedin</button></a>
    </div>
</div>