<app-navbar></app-navbar>

<div class="container">
    <h1 class="text">NÓS SOMOS CRIATIVOS <span>&</span> INOVADORES </h1>
</div>

<div class="containerTwo">
    <div class="sectionOne">
        <h1>Qualidades de uma pessoa criativa:</h1>
        <ul>
            <li><strong>Curiosidade:</strong> São naturalmente curiosas e têm uma sede insaciável por aprender coisas novas e explorar
                diferentes áreas de conhecimento.</li>
            <hr>
            <li><strong>Imaginação:</strong> Têm uma imaginação vívida e são capazes de visualizar possibilidades além do convencional.
                Eles são capazes de pensar fora da caixa e criar soluções inovadoras.</li>
            <hr>
            <li><strong>Colaboração:</strong> São bons em trabalhar em equipe e valorizam a colaboração com outras pessoas. Eles
                reconhecem que a diversidade de ideias e experiências pode levar a resultados mais inovadores.</li>
            <hr>
        </ul>
    </div>
    <div class="sectionOne">
        <img class="image" src="../../../assets/creative_bulb_ideas_concept_illustration.jpg" alt="" width="400"
            height="400">
    </div>
</div>